@import './Partials/variables';
@import './Partials/mixins';
@import './Partials/typography';

.App{
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto';
    color: $paragraph-text;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    @include paragraph-mobile;
    @include tablet{
        @include paragraph;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

text{
    font-family: 'Roboto';
}