@import '../../../Partials/variables';
@import '../../../Partials/mixins';

.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: $primary-color;
    box-shadow: $box-shadow-value;
    height: 5rem;
    width: 100%;
    color: $primary-white;

    &__logo{
        @include tablet{
            margin-left: 1rem;
        }
    }

    &__form{
        display: flex;
        position: relative;
        height: fit-content;
        width: 60%;
    }

    &__search-btn{
        position: absolute;
        right: 6px;
        top: 10px;
        background-color: transparent;
        border: none;
        color: $placeholder-color;
        outline: none;
    }

    &__link{
        display: flex;
        align-items: center;
        outline: none;
        padding: 0 0.5rem;
        &:hover{
            color: $secondary-color;
        }
    }

    &__mobile{
        display: none;
        @include desktop{
            display: flex;
        }
    }

    &__button{
        border: 2px solid $primary-white;
    }

    &__right-box{
        display: flex;
        margin-right: 1rem;
    }

}

.right-nav{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    z-index: 10;
    &__item{
        padding: 18px 10px;
        color: $primary-white;
    }
    flex-flow: column nowrap;
    background-color: $primary-color;
    position: fixed;
    transform: translateX(100%);
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    transition: transform 0.3s ease-in-out;
    &--open{
        transform: translateX(0);
    }
}

.burger{
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    position: relative;
    top: 0;
    right: -10px;
    width: 2rem;
    height: 2rem;
    z-index: 20;

    @include desktop{
        display: none;
  }

  div {
    width: 2rem;
    height: 0.25rem;
    background-color: $primary-white;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
    @include desktop{
        display: none;
    }
    &:nth-child(1) {
      transform: rotate(0);
    }
    &:nth-child(2) {
      transform: translateX(0);
      opacity: 1;
    }
    &:nth-child(3) {
      transform: rotate(0);
    }
  }

  &--open{
    position: relative;
    top: 0;
    right: -10px;

    div {
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateX(100%);
          opacity: 0
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
  }
}