//color palette
$paragraph-text: #323232;
$primary-green: #158463;
$primary-red: #c94515;

$primary-white: #ffffff;

$primary-cta: #0095FF;
$primary-cta-hover: #0065AD;

//breakpoints
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;