//color palette
$primary-color: #0081A7;
$secondary-color: #00AFB9;


$paragraph-text: #323232;

$primary-green: #19be87;
$primary-red: #f72121;
$primary-white: #ffffff;

$placeholder-color: #8B939C;

$card-color:#fafafa;

//breakpoints
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;